@font-face {
  font-family: 'Fjord One';
  font-style: normal;
  font-weight: 400;
  src: local('Fjord One'), local('Fjord-One'), url(http://fonts.gstatic.com/s/fjordone/v5/k1xuy2AQ8wbv_amiU4s585Bw1xU1rKptJj_0jans920.woff2) format('woff2');
}
