#x {
    min-width: 150px;
}
.table-hover > tbody > tr > td, .table-hover > tbody > tr > th {
    vertical-align: middle;
}
table > tbody > tr > td:first-child {
    text-align:center;
}
.well>table {
    margin-bottom: 0px;
}
body {
    margin-top: 50px;
    background: url('../images/searchbg.jpg');
    font-size: 13px;
}
.well {
    background-color: white;
    border-color: #AFACAC;
    box-shadow: inset 0 2px 2px rgba(0, 0, 0, .1);
}
#results {
    padding: 10px 0 0 0;
}

div {
    font-family: 'Fjord One', serif;
    font-size: 20px;
}