<!--
===============================================================================

    This file is part of muServe.

    muServe is free software; you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation; either version 2 of the License, or
    (at your option) any later version.

    muServe is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with muServe; if not, write to the Free Software
    Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA  02110-1301 USA

=============================================================================*/
###############################################################################

    Copyright (C) 2015 Kushagra Singh

###############################################################################
-->

    <div id="player"></div>
    <link rel="stylesheet" href="static/css/bootstrap.min.css">

    <script src = "http://www.youtube.com/player_api"></script>
    <script src = "http://code.jquery.com/jquery-latest.min.js"></script>

    <script>

        var player;

        function onYouTubePlayerAPIReady() {
            player = new YT.Player('player', {
              height: '390',
              width: '640',
              videoId: '{{song.id}}',
              events: {
                'onReady': onPlayerReady,
                'onStateChange': onPlayerStateChange
              }
            });
        }

        // autoplay video
        function onPlayerReady(event) {
            event.target.playVideo();
        }

        // when video ends
        function onPlayerStateChange(event) {
            if(event.data === 0) {  
                $.ajax({url: "/next", success: function(result)
                {
                    var res = result.split("\n");
                    $("#name").html(res[1]);
                    $("#upvotes").html(res[2]);
                    player.loadVideoById(res[0]);
                }}); 
            }
        }



    </script>

    <button onclick="next()">NEXT</button>

    <div id = "name">
        {{ song.name }}
    </div>

    <div id = "upvotes">
        {{ song.votes }}
    </div>

            <ul style = "overflow:scroll; height:600px">

            {% for vid in allsongs %}
                  <div class = "row">
                    <div class = "col-md-4">
                      <a href = "http://youtu.be/{{ vid.songid }}">
                          <img height="180px" width="180px" src="http://i.ytimg.com/vi/{{ vid.songid }}/hqdefault.jpg" class="img-rounded img-responsive">
                      </a>
                    </div>
                    <div class = "col-md-4">
                      <h4 class = "todo-name">
                      {{ vid.name }}
                      </h4>
                    </div>
                    <div class = "col-md-4">
                        <a href="/delete250896193/{{ vid.songid }}"><button>Delete</button></a>
                    </div>
                  </div>
              
            {% endfor %}

    <script type="text/javascript">
        
        function next()
        {
            var duration = player.getDuration();
            player.seekTo(duration);
        }
    </script>